.assessmentButton {
  padding: 10px 20px;
  cursor: pointer;
  transition: 300ms;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.assessmentButton:hover {
  background-color: black;
  color: white;
}

.buttonContainer {
  text-align: center;
  margin-top: 30px;
}

.aiSummary {
  display: flex;
  gap: 3px;
  cursor: pointer;
  width: fit-content;
  align-items: center;
}

.aiImg {
  width: 15px;
  height: 15px;
}

.aiSummary > button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

.aiSummaryContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resultContainer {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
